.common-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 16px 80px 16px;
  }
  
.ui-table {
    background: #FFF;
    width: 100%;
    max-width: 800px;
    border-spacing: 0;
    border-collapse: collapse;
    th,
    td {
        border: 1px solid #ddd;
        padding: 13px 10px;
        text-align: center;
        color: #111;
        vertical-align: middle;
    }
}
.history-table {
    background: #FFFCFA;
}
.ui-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}
.mu-timeline-item-content {
    max-width: 90%;
}